# SSH CONFIGURATIONS

Host *
    UserKnownHostsFile    /dev/null
    StrictHostKeyChecking no

Host github.com
    User                  git
    IdentityFile          ~/.ssh/id_rsa_git
    StrictHostKeyChecking yes

