use flake .
dotenv .env

# Krew #TODO: Temporary hack until disover how to handle by fleek
export PATH="${PATH}:${HOME}/.krew/bin"

# Use direnv to create an isolated shell for Zsh
# eval "$(direnv hook zsh)"
