
# vim: syntax=sh

# COMMON ALIASES
alias .-="cd -"
alias ..="cd .."
alias .2="cd ../.."
alias .3="cd ../../.."
alias .4="cd ../../../.."
alias .5="cd ../../../../.."
alias mkdir="mkdir -p"
debug_info "Adding aliases for 'common utilities'"

# VIM LIKE ALIASES
alias :q="exit 0"
alias :qa="exit 0"
alias :wq="exit 0"
alias :!q="exit 0"
debug_info "Adding aliases for 'exit'"

alias cz=chezmoi

