# vim: syntax=toml

# PERSONAL OR COMPANY COMPUTER
{{ $computer := promptString "computer type (work/self)" -}}

{{- $email := promptString "email" -}}

# FETCH SECRETS FROM BITWARDEN

[data]
    email = {{ $email | quote }}
    location = "{{ $location }}"

[git]
    autoCommit = true
    autoPush = false
