{{- $name  := promptString "name" -}}
{{- $email := promptString "email" -}}

[data]
    name  = {{ $name | quote  }}
    email = {{ $email | quote }}

[git]
    autoCommit = true
    autoPush = false
