*.DS_Store
backup/*
tmp/*
Resources/*

#tmux
.tmux/orig/*
.tmux/backup/*
.tmux/tmp/*

#vim
.vim/orig/*
.vim/backup/*
.vim/tmp/*

#zsh
.oh-my-zsh/*
zsh/orig/*
zsh/backup/*
zsh/tmp/*

#bash
bash/orig/*

#Local variables and overrides
.shell_env_local
