{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
#####################
# Brewfile contents #
#####################

# Taps
tap "argoproj/tap"
tap "aws/tap"
tap "hashicorp/tap"
tap "johanhaleby/kubetail"
tap "liamg/tfsec"
#tap 'mdogan/zulu'
#tap 'heroku/brew'
tap 'homebrew/bundle'
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/cask-versions'
tap 'homebrew/core'
tap "homebrew/services"
#tap 'romkatv/powerlevel10k'

# GNU utils
brew 'coreutils' # Those that come with macOS are outdated
brew 'findutils'

# Bash ZSH fish
brew 'bash' # Latest Bash version
brew 'bash-completion@2'
brew 'zsh'
brew 'fish'
brew 'chezmoi'
brew 'fisher'
brew 'spaceship' # zsh theme prompt
brew 'starship'  # fish theme prompt

brew 'mackup'
brew 'mas' # Mac App Store manager

# Development
#brew 'ktlint'
#brew 'swiftformat'
#brew 'swiftlint'
#brew 'heroku/brew/heroku'
brew 'cocoapods'
brew 'httpie'
brew 'cloc'

# Development environment
brew 'asdf'

# Utilities
brew "jq"
brew 'detox'
brew 'diff-so-fancy'
brew 'git'
brew 'gnupg'
brew 'highlight'
brew 'pkg-config' # https://github.com/driesvints/dotfiles/issues/20
brew 'pinentry-mac'
brew 'tldr'
brew 'trash'
brew 'tree'
brew 'vim'
brew 'wget'
brew 'wifi-password'
brew 'grep' # Global Regural Expression Print
brew 'zoxide' # Better cd in Terminal
brew 'fzf' # For zoxide
brew 'topgrade'
brew 'lsd'

# Amazon Web Services
brew "awscli"
brew "aws-shell"
brew "aws-sso-util"

# Terraform
brew "terraform-docs"
brew "terraform-ls"
brew "terrascan"
#brew "tfenv"
brew "tflint"
brew "tfsec"
brew "infracost"

# Kubernetes
brew "kubernetes-cli"
#brew "minikube"
brew "kustomize"
brew "helm"
cask "lens"
brew "argocd"
#brew "argoproj/tap/kubectl-argo-rollouts"
brew "stern"
#brew "johanhaleby/kubetail/kubetail", args: ["with-short-names"]
brew "istioctl"
brew "k9s"
brew "kompose"

#####################
# Casks             #
#####################

cask "1password-beta"
cask "1password-cli"
cask "brave-browser", args: { appdir: "/Applications" }
#cask "zulu-jdk11"
cask "raycast"
#cask "agenda"
#cask "adguard"
#cask "coconutbattery"
cask "docker"
#cask 'gpg-suite'
cask 'keybase'
cask "github"
cask "gitkraken", args: { appdir: "/Applications" }
cask "google-chrome", args: { appdir: "/Applications" }
#cask 'imageoptim'
#cask "iina" # Open-Source Video Player
cask "goland"
cask "iterm2", args: { appdir: "/Applications" }
#cask "leapp"
cask "postman", args: { appdir: "/Applications" }
#cask "kap"
#cask "keka"
#cask "kekaexternalhelper"
cask "keystore-explorer"
cask "kitty"
#cask "ledger-live"
#cask "microsoft-auto-update"
#cask "microsoft-edge"
#cask "microsoft-office"
cask "microsoft-teams"
cask "obsidian"
cask "parallels"
cask "setapp" # A collection of apps
cask "sketch"
cask "slack"
cask "spotify"
#cask "swiftformat-for-xcode"
#cask "raindropio"
cask "telegram"
cask "transmission"
cask "visual-studio-code", args: { appdir: "/Applications" }

# Quicklook
#cask 'qlmarkdown'
#cask 'quicklook-json'
#cask 'qlstephen'

# Fonts
cask "font-cascadia-code"
cask "font-cascadia-code-pl"
cask "font-fira-code"
cask "font-hack-nerd-font"
#cask "font-hack-nerd-font-mono", args: { appdir: "/Applications" }
#cask "font-hasklig-nerd-font", args: { appdir: "/Applications" }
#cask "font-sourcecodepro-nerd-font", args: { appdir: "/Applications" }
#cask "font-sourcecodepro-nerd-font-mono", args: { appdir: "/Applications" }
cask 'font-lato'
#cask 'font-open-sans'  #TODO:// Install svn
#cask 'font-roboto'    #TODO:// Install svn
#cask 'font-source-code-pro-for-powerline'    #TODO:// Install svn
#cask 'font-source-code-pro'  #TODO:// Install svn
#cask 'font-source-sans-pro'    #TODO:// Install svn
#cask 'font-source-serif-pro'      #TODO:// Install svn
cask 'font-meslo-for-powerline'
cask 'font-meslo-lg-nerd-font'
cask 'font-meslo-lg'
cask "font-hack-nerd-font"
cask "font-sauce-code-pro-nerd-font"
#cask "font-ubuntu"      #TODO:// Install svn

# Mac App Store manager
mas '1Password for Safari', id: 1569813296
mas "Magnet", id: 441258766
mas "SnippetsLab", id: 1006087419
mas "Pocket", id: 568494494
mas "Save to Pocket", id: 1477385213
mas "NextDNS", id: 1464122853
#mas 'Numbers', id: 409203825
#mas 'Save to Raindrop.io', id: 1549370672
#mas 'Pages', id: 409201541
#mas 'Keynote', id: 409183694
mas "Xcode", id: 497799835

#########################
# Brewfile contents end #
#########################
EOF

{{ end -}}
