{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "Setting up your Mac..."

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Add Homebrew to PATH:"

# Run these two commands in your terminal to add Homebrew to your PATH:
    #echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> /Users/joshalletto/.zprofile
    eval "$(/opt/homebrew/bin/brew shellenv)"

# Install Rosetta 2
sudo softwareupdate --install-rosetta --agree-to-license

# Update Homebrew
brew update

{{ end -}}
