{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "Setting up your Mac..."

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Add Homebrew to PATH:"

# Detect macOS
case $(uname) in
Darwin)
  if [[ $(uname -m) == 'arm64' ]]; then
    BREW_PREFIX='/opt/homebrew'
  elif [[ $(uname -m) == 'x86_64' ]]; then
    BREW_PREFIX='/usr/local'
  fi
  ;;
Linux) BREW_PREFIX='/home/linuxbrew/.linuxbrew' ;;
esac
eval $($BREW_PREFIX/bin/brew shellenv)

# Install Rosetta 2
sudo softwareupdate -install-rosetta -agree-to-license

# Update Homebrew
brew update

{{ end -}}
