let g:netrw_dirhistmax  =10
let g:netrw_dirhistcnt =3
let g:netrw_dirhist_3='{{ .chezmoi.sourceDir }}'
let g:netrw_dirhist_2='{{ .chezmoi.sourceDir }}/dot_config'
let g:netrw_dirhist_1='{{ .chezmoi.sourceDir }}'
