# vim: syntax=gitconfig

[ghq]
    root = "~/Code"
[gpg]
    program = "gpg2"
[pull]
    rebase = false
[user]

[core]
    pager  = "delta"
    editor = "nvim"
[delta]
    features               = "side-by-side line-numbers decorations"
    syntax-theme           = "gruvbox-dark"
    whitespace-error-style = 22 reverse
[commit]
    gpgsign = true

